/*******************************************************************************

    For copyright / license terms, see COPYRIGHT.rst (top level of repository)
    Repository: https://github.com/C3S/collecting_society.portal.repertoire

*******************************************************************************/

/* 

    COLORS:

    green dark   #317a19
    green middle #4dae33
    green bright #d9f0c8
    orange       #dc5900
    gray light   #f6f9f2

*/

/*******************************************************************************

    Extra small devices (phones, less than 768px)

*******************************************************************************/

/* Main */

body {
    background: rgb(217,240,200); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(217,240,200,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(217,240,200,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(217,240,200,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9f0c8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

a { outline:none!important; }

/* Content Left */

.cs-content-left { background: url('../img/element-menue-bg.png'); padding-top:6px; }

.cs-menue-main { background:transparent; border:none; border-top-left-radius:0; border-top-right-radius:0; }

.cs-menue-main .navbar-nav > li > a,
.cs-menue-main .navbar-nav > li > a:hover,
.cs-menue-main .navbar-nav > li > a:active,
.cs-menue-main .navbar-nav > li > a:visited,
.cs-menue-main .navbar-nav > li > a:focus { color:#fff; }

.cs-menue-main .navbar-nav > .active > a,
.cs-menue-main .navbar-nav > .active > a:hover,
.cs-menue-main .navbar-nav > .active > a:active,
.cs-menue-main .navbar-nav > .active > a:focus {
    outline: none;
    background-color:transparent; color:#fff; font-weight:bold;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 33%, rgba(255,255,255,0.2) 66%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 33%,rgba(255,255,255,0.2) 66%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 33%,rgba(255,255,255,0.2) 66%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.cs-content-left .cs-menue-roles > li > a,
.cs-content-left .cs-menue-roles > li > a:hover,
.cs-content-left .cs-menue-roles > li > a:visited { color:#fff; background-color:transparent; border:none; font-weight:bold; }

/* Content Middle */

.cs-content-middle { background-color:#fff; }

.cs-content-middle .fileupload-progress .progress { margin-bottom:5px; }
.cs-content-middle .cs-audio-properties > span:after { color:#ddd; content: " | "; }

.cs-artist-img { max-width: 200px }

.cs-content-middle .template-upload td { padding:10px 5px; }
.cs-content-middle .template-upload .progress { margin-bottom:0; }
.cs-content-middle .template-upload .size { margin-bottom:0; }
.cs-content-middle .template-upload .name { font-weight:bold; }

/* Content Right */

.cs-content-right { background-color:#fff; }

.cs-widget-plugins .cs-widget-plugin-img { width:120px; }
.cs-widget-todo-steps .cs-widget-todo-step-img { float:left; width:60px; margin:0 5px 5px 0; }


/*******************************************************************************

   Small devices (tablets, 768px and up)

*******************************************************************************/

@media (min-width: 768px) {

    /* Main */

    /* Content Left */

    /* Content Middle */

    /* Content Right */

}


/*******************************************************************************

   Medium devices (desktops, 992px and up)

*******************************************************************************/

@media (min-width: 992px) {

    /* Main */

    /* Content Left */

    /* Content Middle */

    /* Content Right */
    
}


/*******************************************************************************

   Large devices (large desktops, 1200px and up)

*******************************************************************************/

@media (min-width: 1200px) {

    /* Main */

    /* Content Left */

    /* Content Middle */

    /* Content Right */
    
}