/*******************************************************************************

    For copyright / license terms, see COPYRIGHT.rst (top level of repository)
    Repository: https://github.com/C3S/collecting_society.repertoire

*******************************************************************************/

/* 

    COLORS:

    green dark   #317a19
    green middle #4dae33
    green bright #d9f0c8
    orange       #dc5900
    gray light   #f6f9f2

*/

/*******************************************************************************

    Extra small devices (phones, less than 768px)

*******************************************************************************/

/* Main */

html { height:100%; }
body { height:100%; padding-top:50px; background-color:#d9f0c8;
       background: url('../img/image-crowd.png') no-repeat right bottom fixed, #d9f0c8; background-size: 100% auto; }


h1, .h1 { margin-top:0; padding-top:30px; padding-bottom:25px; color:#4dae33; border-top:#d9f0c8 1px solid; text-transform:lowercase; }
h2, .h2 {}
h3, .h3 {}
h4, .h4 {}
h5, .h5 { color:#fc2a00; }
h6, .h6 {}

a { color:#dc5900; }
a:hover { color:#dc5900; }
a:visited { color:#dc5900; }

.btn-primary { background-color:#4dae33; border-color:#d9f0c8; }
.btn-primary:hover { background-color:#317a19; border-color:#d9f0c8; }

.cs-mainheader { border:none; }

.cs-anchor { position:relative; top:-35px; }
nav > .cs-anchor { top:-50px; }

.cs-widget { padding:10px; }
.cs-widget-title { padding:10px 0 25px 0; margin:0 0 5px 0; border:none; }

/* Content Left */

.cs-content-left .cs-logo { margin-bottom: 0; }
.cs-content-left .cs-widget { color:#fff; padding:10px; background-color:#4dae33; border:10px solid #4dae33; } 
.cs-content-left .cs-widget-title { color:#fff; }

/* Content Middle */

.cs-content-middle { background-color:#f6f9f2; margin-bottom:50px; padding-top:0; }
.cs-content-middle h1:first-child { padding-top:30px; }
.cs-page { padding-top:116px; }

.cs-menue-top { background-color: #317a19; }
.cs-menue-top .container > div { background-color: #317a19; }
.cs-menue-top .container > div a { color: #fff; }
.cs-menue-top .container > div a:hover { color: #fff; text-decoration:underline; }
.cs-menue-page .container > div { background-color:#f1f1f1; }

/* Content Right */

.cs-content-right { margin-top:30px; }
.cs-content-right span { background-color:#fff; }
.cs-content-right .cs-widget { color:#999; background-color:#f6f9f2; border:10px solid #f6f9f2; }
.cs-content-right .cs-widget fieldset > legend { border:none; font-size:36px; color:#4dae33; text-transform:lowercase; }
.cs-content-right .cs-widget-title { color:#4dae33; }
.cs-content-right .cs-widget-login { margin-top:115px; }

/*******************************************************************************

   Small devices (tablets, 768px and up)

*******************************************************************************/

@media (min-width: 768px) {

    /* Main */

    /* Content Left */

    /* Content Middle */

    /* Content Right */

}


/*******************************************************************************

   Medium devices (desktops, 992px and up)

*******************************************************************************/

@media (min-width: 992px) {

    /* Main */

    /* Content Left */

    /* Content Middle */

    /* Content Right */
    
    .cs-content-right { margin-top:0; }
    
}


/*******************************************************************************

   Large devices (large desktops, 1200px and up)

*******************************************************************************/

@media (min-width: 1200px) {

    /* Main */

    /* Content Left */

    /* Content Middle */

    /* Content Right */
    
}